@import "tailwindcss";

@import "primereact/resources/themes/lara-light-indigo/theme.css"
  layer(primereact);

html,
body {
  background: linear-gradient(135deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

.p-inputtext {
  background-color: #0F0C29;
  color: #ffffff;
  border: 1px solid #302B63;
}